html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background: #2dc492;
  font-weight: 550;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
